server:
  port: 8093
spring:
  application:
    name: product-category-service
security:
  oauth2:
    resource:
      user-info-uri: http://localhost:9999/uaa/user
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true
    leaseRenewalIntervalInSeconds: 5
    metadataMap:
      instanceId: "${spring.application.name}:${random.value}"