server:
  port: 8081
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 10
    statusPageUrlPath: /info
    healthCheckUrlPath: /health
    
zuul:
  ignored-services: '*'
  routes:
    product-category-service: /product-api/**
    user-proxy-service: /user-api/**